:root {
  --primary-color: #007bff;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --error-color: #ff0000;
  --hover-color: #C4A484;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:auto;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.bg_image {
  position: absolute;
  top: 150px;
  left: 700px;
  width: 400px;
}

.bg_image img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.form-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}

.connectify {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-right: 30px;
}

.welcome {
  font-size: 18px;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-right: 30px;
}

.error-message {
  color: var(--error-color);
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
  width: 100%;
  margin-left: 50px;;
}

.input-group label {
  font-size: 1rem;
  color: var(--secondary-color);
}

.input-group input {
  padding: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  color: var(--secondary-color);
}

.input-group input::placeholder {
  color: var(--secondary-color);
}

.input-group input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
  width: 48%;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 30px;
}

.submit-button:hover {
  background-color: var(--hover-color);
}

.signup-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.signup {
  font-size: 18px;
  color: var(--secondary-color);
  margin-right: 10px;
}

.register  {
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 20px;
  
}

.register :hover {
  text-decoration: underline;
}